:root {
    --nav-burger-width: clamp(35px, 4vw, 40px);
    --nav-burger-line-height: max(5px, calc((var(--nav-burger-width) * 0.4) / 3));

    --bg-colour: #2C2D2E;
    --grey-colour: #1C1D1F;
    --glass-colour: #1D1D1D;

    --pink-colour: #FF58C0;
    --blue-colour: #52FAF0;
    --yellow-colour: #F3DFAD;

    --week-1-colour: #52FAF0;
    --week-2-colour: #158C9B;
    --week-3-colour: #06C4B8;
    --week-5-colour: #03B2C8;
}

body {
    font-family: IBM Plex Sans, sans-serif;
    background-color: var(--grey-colour);
}

.container {
    margin-top: 15vh; color: white;
}

#jumpstart-section {
    padding: 50px;
}

/* Hero Section Thingies */
#hero-section {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-colour);
    background-image: url("../images/hero-section/hero-triangles-large.svg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-glass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 300px;

    width: 50%;
    padding: 5% 0;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #1D1D1DCC;
    border-radius: clamp(10px, 5vw, 50px);
}

.hero-glass > img {
    display: block;
    width: 45%;
}

.hero-glass > div:nth-child(2) {
    width: 80%;
    height: 5px;
    background-color: var(--blue-colour);
    margin: 10px 0;
}

.hero-glass > h1 {
    margin: 0;
    font-size: clamp(1.1rem, 3vw, 4rem);
    color: white;
    letter-spacing: 0;
    /*letter-spacing: 0.2em;*/
    font-weight: bold;
}

.hero-glass > h2 {
    margin: 0;
    color: white;
    font-size: clamp(0.8rem, 1.2vw, 3.4rem);
}

.hero-glass > div:nth-child(4) {
    width: 70%;
    height: 5px;
    background-color: var(--pink-colour);
    margin: 10px 0;
}

.mc-field-group > label{
    color: white;
}

#mc-embedded-subscribe{
    background-color: white !important;
    color: black !important;
}

/* Folder Section Thingies */

.folder {
    position: relative;
    padding: 0;
}

.folder-tabs {
    display: flex !important;
    align-items: stretch !important;
    position: initial !important;
    min-height: calc(80vw * 0.06) !important;
}

.folder-tabs > span {
    display: block !important;
    margin: 0 !important;
    width: 20% !important;
    height: initial !important;
    border-radius: 25px 25px 0 0;
    opacity: 1 !important;
}

.folder-tabs > span:nth-child(1) {
    background-color: var(--week-1-colour) !important;
}

.folder-tabs > span:nth-child(2) {
    background-color: var(--week-2-colour) !important;
}

.folder-tabs > span:nth-child(3) {
    background-color: var(--week-3-colour) !important;
}

.folder-tabs > span:nth-child(4) {
    background-color: var(--week-5-colour) !important;
}

.folder-cover-container {
    display: flex;
    align-items: stretch !important;

    width: 100%;
    min-height: calc(80vw * 0.5);
    background: linear-gradient(var(--week-1-colour), #52FAF02F);

    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.folder-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6%;
}

.folder-swiper .swiper-wrapper {
    width: 100%;
}

.folder-cover-slide {
    display: flex;
    width: 100%;
    min-height: calc(80vw * 0.5);
    padding: 25px;

}

/* Navbar Thingies */
::-webkit-scrollbar{
    width: 0.5rem;
    height: auto;
    position: absolute;
}

::-webkit-scrollbar-track{
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background: #777;
    border-radius: 0.2rem;
    width: 80%;
}

::-webkit-scrollbar-thumb:hover{
    background: #555;
}

::-webkit-scrollbar-thumb:active{
    background: #333;
}

p {
    font-size: 1.1rem;
}

.unstyled-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.nav-links > li > a {
    text-decoration: none;
    color: var(--grey-colour);
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-weight: bold;
}

nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 50px;
    top: 50px;
    z-index: 1000;
    background-color: var(--grey-colour);
    border-radius: 5%;

    padding: 5px;
    transition: background-color 500ms;

    box-shadow: 0 0 5px var(--pink-colour);
}

.nav-active {
    background-color: var(--pink-colour);
    border-radius: 3%;
}

/* NAV BURGER ICON */
.nav-burger {
    display: block;
    cursor: pointer;
    padding: 0 calc(((var(--nav-burger-width)) * 0.7071067812 - var(--nav-burger-line-height) * 2) / 2);
}

.nav-burger > div {
    background-color: var(--pink-colour);
    width: var(--nav-burger-width);
    height: var(--nav-burger-line-height);
    margin: calc(((var(--nav-burger-width)) * 0.7071067812 - var(--nav-burger-line-height) * 2) / 2) 0;
    border-radius: 5px;
    margin-left: auto;
}

.nav-burger > div:nth-child(1) {
    transform-origin: left;
    transition-property: transform, background-color, box-shadow;
    transition-duration: 500ms;
}

.nav-burger > div:nth-child(2) {
    transform-origin: left;
    transition-property: transform, background-color, box-shadow;
    transition-duration: 500ms;
}

.nav-burger > div:nth-child(3) {
    transform-origin: left;
    transition-property: transform, background-color, box-shadow;
    transition-duration: 500ms;
}

.nav-burger-active > div:nth-child(1) {
    transform: rotate(45deg);
    background-color: var(--grey-colour);
}

.nav-burger-active > div:nth-child(2) {
    background-color: transparent;
    box-shadow: none;
    transform: translateX(-20px);
}

.nav-burger-active > div:nth-child(3) {
    transform: rotate(-45deg);
    background-color: var(--grey-colour);
}

.nav-links {
    display: flex;
    /*align-items: end;*/
    flex-direction: column;

    max-width: 0;
    max-height: 0;

    transform: scale(0, 0);
    transform-origin: 15px 0;

    margin: auto 0;

    transition-property: max-width, max-height, transform;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}

.nav-links-active {
    max-width: 250px;
    max-height: 270px;
    transform: scale(1, 1);
}

.nav-links > li {
    margin: 5px 15px 5px 6px;
}

/* Medium Size Screen Styles */
@media screen and (max-width: 768px) {
    /* Hero Section */
    #hero-section {
        background-image: url("../images/hero-section/hero-triangles-medium.svg");
    }

    .hero-glass {
        width: 60%;
    }
}

/* Small Size Screen Styles */
@media screen and (max-width: 576px) {
    /* Hero Section */
    .hero-glass {
        width: 75%;
    }

    .hero-glass > img {
        /*width: 65%;*/
    }

    .hero-glass > div:nth-child(2) {
        margin-bottom: 10px;
    }

    .hero-glass > h1 {
        font-size: clamp(1.4rem, 2.5vw, 3rem);
    }

    .hero-glass > div:nth-child(4) {
        margin-top: 10px;
    }
}

a {
    text-decoration: none;
}

/*https://codepen.io/gabrielcojea/pen/ExPaBzQ*/

.underline{
  position: relative;
  color: #0074D9 !important;
}

.underline::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #0074D9;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

@media (hover: hover) and (pointer: fine) {
    a:hover::before{
        left: 0;
        right: auto;
        width: 100%;
    }
}

body {
    font-family: IBM Plex Sans;
    background-color: #2C2D2E;
}

.container {
    margin-top: 25vh;
    margin-bottom: 10vh;
    color: white;
}

.text-bg {
    background: rgba(29, 29, 29, 0.8);
    border-radius: 62px;
}

.sponsors-bg {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 62px;
}

.accordion-button:not(.collapsed) {
    color: #FF58C0;
}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23138F9F'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-item {
    border: none;
}

.subtitle {
    font-weight: 700;
}

.question {
    background-color: transparent !important;
    margin-top: 10vh;
    font-weight: 700;
    font-size: xx-large;
    color: #FF58C0;
}

.answer {
    text-align: left;
    font-size: large;
}

.sponsor-prompt {
    margin-top: 2rem;
    text-align: center;
}

.sponsor-prompt-text {
    font-size: x-large;
    color: black;
}

footer{
    background: #111;
    color: white;
}

.footer {
    height: clamp(500px,50vh,50vh);
}

.footer-title{
    font-size: clamp(2rem, 40px, 3rem);
    padding-top: 2vh;
}

.footer-logo{
    height: 10vh;
}

.footer-social{
    font-size: 2rem;
    padding-top: 2vh;
}

.footer-links{
    padding-top: 2vh;
}

.footer-link{
    text-decoration: none !important;
    color: white !important;
    font-size: clamp(1rem, 20px, 2rem);
}


.cursor-pointer{
    cursor: pointer;
}
  
.sponsor-obj img{
  padding-left: 10px;
  padding-right: 10px;
}

.gold img {
  max-height: 425px;
  max-width: min(900px, 100%);
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
}

.silver img {
  max-height: 300px;
  max-width: min(400px, 100%);
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
}

.partner img {
  max-height: 300px;
  width: 300px;
  max-width: 30%;
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bronze img {
  max-height: 125px;
  max-width: min(275px, 100%);
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
}

.zoom {
    transition: transform .2s;
    transform: scale(1);
}

.zoom:hover{
    transform: scale(1.05);
}