:root {
    --nav-burger-width: clamp(35px, 4vw, 40px);
    --nav-burger-line-height: max(5px, calc((var(--nav-burger-width) * 0.4) / 3));
    --pink-colour: #FF58C0;
    --grey-colour: #1C1D1F;
    --blue-colour: #52FAF0;
}

::-webkit-scrollbar{
    width: 0.5rem;
    height: auto;
    position: absolute;
}

::-webkit-scrollbar-track{
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background: #777;
    border-radius: 0.2rem;
    width: 80%;
}

::-webkit-scrollbar-thumb:hover{
    background: #555;
}

::-webkit-scrollbar-thumb:active{
    background: #333;
}

p {
    font-size: 1.1rem;
}

.unstyled-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.nav-links > li > a {
    text-decoration: none;
    color: var(--grey-colour);
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-weight: bold;
}

nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 50px;
    top: 50px;
    z-index: 1000;
    background-color: var(--grey-colour);
    border-radius: 5%;

    padding: 5px;
    transition: background-color 500ms;

    box-shadow: 0 0 5px var(--pink-colour);
}

.nav-active {
    background-color: var(--pink-colour);
    border-radius: 2.5%;
}

/* NAV BURGER ICON */
.nav-burger {
    display: block;
    cursor: pointer;
    padding: 0 calc(((var(--nav-burger-width)) * 0.7071067812 - var(--nav-burger-line-height) * 2) / 2);
}

.nav-burger > div {
    background-color: var(--pink-colour);
    width: var(--nav-burger-width);
    height: var(--nav-burger-line-height);
    margin: calc(((var(--nav-burger-width)) * 0.7071067812 - var(--nav-burger-line-height) * 2) / 2) 0;
    border-radius: 5px;
    margin-left: auto;
}

.nav-burger > div:nth-child(1) {
    transform-origin: left;
    transition-property: transform, background-color, box-shadow;
    transition-duration: 500ms;
}

.nav-burger > div:nth-child(2) {
    transform-origin: left;
    transition-property: transform, background-color, box-shadow;
    transition-duration: 500ms;
}

.nav-burger > div:nth-child(3) {
    transform-origin: left;
    transition-property: transform, background-color, box-shadow;
    transition-duration: 500ms;
}



.nav-burger-active > div:nth-child(1) {
    transform: rotate(45deg);
    background-color: var(--grey-colour);
}

.nav-burger-active > div:nth-child(2) {
    background-color: transparent;
    box-shadow: none;
    transform: translateX(-20px);
}

.nav-burger-active > div:nth-child(3) {
    transform: rotate(-45deg);
    background-color: var(--grey-colour);
}

.nav-links {
    display: flex;
    /*align-items: end;*/
    flex-direction: column;

    max-width: 0;
    max-height: 0;

    transform: scale(0, 0);
    transform-origin: 15px 0;

    margin: auto 0;

    transition-property: max-width, max-height, transform;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}

.nav-links-active {
    max-width: 250px;
    max-height: 270px;
    transform: scale(1, 1);
}

.nav-links > li {
    margin: 5px 15px 5px 6px;
}

a {
    text-decoration: none;
}

/*https://codepen.io/gabrielcojea/pen/ExPaBzQ*/

.underline{
  position: relative;
  color: #0074D9 !important;
}

.underline::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #0074D9;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

@media (hover: hover) and (pointer: fine) {
    a:hover::before{
        left: 0;
        right: auto;
        width: 100%;
    }
}

body {
    font-family: IBM Plex Sans;
    background-color: #2C2D2E;
}

.container {
    margin-top: 25vh;
    margin-bottom: 10vh;
    color: white;
}

.text-bg {
    background: rgba(29, 29, 29, 0.8);
    border-radius: 62px;
}

.sponsors-bg {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 62px;
}

.accordion-button:not(.collapsed) {
    color: #FF58C0;
}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23138F9F'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-item {
    border: none;
}

.subtitle {
    font-weight: 700;
}

.question {
    background-color: transparent !important;
    margin-top: 10vh;
    font-weight: 700;
    font-size: xx-large;
    color: #FF58C0;
}

.answer {
    text-align: left;
    font-size: large;
}

.sponsor-prompt {
    margin-top: 2rem;
    text-align: center;
}

.sponsor-prompt-text {
    font-size: x-large;
    color: black;
}

footer{
    background: #111;
    color: white;
}

.footer {
    height: clamp(500px,50vh,50vh);
}

.footer-title{
    font-size: clamp(2rem, 40px, 3rem);
    padding-top: 2vh;
}

.footer-logo{
    height: 10vh;
}

.footer-social{
    font-size: 2rem;
    padding-top: 2vh;
}

.footer-links{
    padding-top: 2vh;
}

.footer-link{
    text-decoration: none !important;
    color: white !important;
    font-size: clamp(1rem, 20px, 2rem);
}


.cursor-pointer{
    cursor: pointer;
}
  
.sponsor-obj img{
  padding-left: 10px;
  padding-right: 10px;
}

.gold img {
  max-height: 450px;
  max-width: min(900px, 100%);
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
}

.silver img {
  max-height: 300px;
  max-width: min(400px, 100%);
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
}

.partner img {
  max-height: 300px;
  width: 300px;
  max-width: 30%;
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bronze img {
  max-height: 125px;
  max-width: min(275px, 100%);
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
}

.zoom {
    transition: transform .2s;
    transform: scale(1);
}

.zoom:hover{
    transform: scale(1.05);
}