:root {
    --nav-burger-width: clamp(35px, 4vw, 40px);
    --nav-burger-line-height: max(5px, calc((var(--nav-burger-width) * 0.4) / 3));

    --bg-colour: #2C2D2E;
    --grey-colour: #1C1D1F;
    --glass-colour: #1D1D1D;

    --pink-colour: #FF58C0;
    --blue-colour: #52FAF0;
    --yellow-colour: #F3DFAD;

    --week-1-colour: #52FAF0;
    --week-2-colour: #158C9B;
    --week-3-colour: #06C4B8;
    --week-5-colour: #03B2C8;
}

body {
    font-family: IBM Plex Sans, sans-serif;
    background-color: var(--bg-colour);
}

.container {
    margin-top: 15vh; color: white;
}

#jumpstart-section {
    padding: 50px;
}

/* Hero Section Thingies */
#hero-section {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-colour);
    /*background-image: url("../images/hero-section/hero-triangles-large.svg");*/

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-glass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 300px;

    width: 50%;
    padding: 5% 0;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #1D1D1DCC;
    border-radius: clamp(10px, 5vw, 50px);
}

.hero-glass > img {
    display: block;
    width: 45%;
}

.hero-glass > div:nth-child(2) {
    width: 80%;
    height: 5px;
    background-color: var(--blue-colour);
    margin: 10px 0;
}

.hero-glass > h1 {
    margin: 0;
    font-size: clamp(1.1rem, 3vw, 4rem);
    color: white;
    letter-spacing: 0;
    /*letter-spacing: 0.2em;*/
    font-weight: bold;
}

.hero-glass > h2 {
    margin: 0;
    color: white;
    font-size: clamp(0.8rem, 1.2vw, 3.4rem);
}

.hero-glass > div:nth-child(4) {
    width: 70%;
    height: 5px;
    background-color: var(--pink-colour);
    margin: 10px 0;
}

/* Folder Section Thingies */

.folder {
    position: relative;
    padding: 0;
}

.folder-tabs {
    display: flex !important;
    align-items: stretch !important;
    position: initial !important;
    min-height: calc(80vw * 0.06) !important;
}

.folder-tabs > span {
    display: block !important;
    margin: 0 !important;
    width: 20% !important;
    height: initial !important;
    border-radius: 25px 25px 0 0;
    opacity: 1 !important;
}

.folder-tabs > span:nth-child(1) {
    background-color: var(--week-1-colour) !important;
}

.folder-tabs > span:nth-child(2) {
    background-color: var(--week-2-colour) !important;
}

.folder-tabs > span:nth-child(3) {
    background-color: var(--week-3-colour) !important;
}

.folder-tabs > span:nth-child(4) {
    background-color: var(--week-5-colour) !important;
}

.folder-cover-container {
    display: flex;
    align-items: stretch !important;

    width: 100%;
    min-height: calc(80vw * 0.5);
    background: linear-gradient(var(--week-1-colour), #52FAF02F);

    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.folder-content-container {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    padding-left: 6%;
}

.folder-swiper .swiper-wrapper {
    width: 100%;
}

.folder-cover-slide {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: calc(80vw * 0.5);
    padding: 25px;

}

/* Navbar Thingies */

.unstyled-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.nav-links > li > a {
    text-decoration: none;
    color: var(--grey-colour);
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-weight: bold;
}

nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 50px;
    top: 50px;
    z-index: 1000;
    background-color: var(--grey-colour);
    border-radius: 5%;

    padding: 5px;
    transition: background-color 500ms;

    box-shadow: 0 0 5px var(--pink-colour);
}

.nav-active {
    background-color: var(--pink-colour);
    border-radius: 3%;
}

/* NAV BURGER ICON */
.nav-burger {
    display: block;
    cursor: pointer;
    padding: 0 calc(((var(--nav-burger-width)) * 0.7071067812 - var(--nav-burger-line-height) * 2) / 2);
}

.nav-burger > div {
    background-color: var(--pink-colour);
    width: var(--nav-burger-width);
    height: var(--nav-burger-line-height);
    margin: calc(((var(--nav-burger-width)) * 0.7071067812 - var(--nav-burger-line-height) * 2) / 2) 0;
    border-radius: 5px;
    margin-left: auto;
}

.nav-burger > div:nth-child(1) {
    transform-origin: left;
    transition-property: transform, background-color, box-shadow;
    transition-duration: 500ms;
}

.nav-burger > div:nth-child(2) {
    transform-origin: left;
    transition-property: transform, background-color, box-shadow;
    transition-duration: 500ms;
}

.nav-burger > div:nth-child(3) {
    transform-origin: left;
    transition-property: transform, background-color, box-shadow;
    transition-duration: 500ms;
}

.nav-burger-active > div:nth-child(1) {
    transform: rotate(45deg);
    background-color: var(--grey-colour);
}

.nav-burger-active > div:nth-child(2) {
    background-color: transparent;
    box-shadow: none;
    transform: translateX(-20px);
}

.nav-burger-active > div:nth-child(3) {
    transform: rotate(-45deg);
    background-color: var(--grey-colour);
}

.nav-links {
    display: flex;
    /*align-items: end;*/
    flex-direction: column;

    max-width: 0;
    max-height: 0;

    transform: scale(0, 0);
    transform-origin: 15px 0;

    margin: auto 0;

    transition-property: max-width, max-height, transform;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}

.nav-links-active {
    max-width: 250px;
    max-height: 270px;
    transform: scale(1, 1);
}

.nav-links > li {
    margin: 5px 15px 5px 6px;
}

/* Medium Size Screen Styles */
@media screen and (max-width: 768px) {
    /* Hero Section */
    #hero-section {
        /*background-image: url("../images/hero-section/hero-triangles-medium.svg");*/
    }

    .hero-glass {
        width: 60%;
    }
}

/* Small Size Screen Styles */
@media screen and (max-width: 576px) {
    /* Hero Section */
    .hero-glass {
        width: 75%;
    }

    .hero-glass > img {
        /*width: 65%;*/
    }

    .hero-glass > div:nth-child(2) {
        margin-bottom: 10px;
    }

    .hero-glass > h1 {
        font-size: clamp(1.4rem, 2.5vw, 3rem);
    }

    .hero-glass > div:nth-child(4) {
        margin-top: 10px;
    }
}